@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	line-height: 22px;
	margin: 0 auto;
	padding: 0;
	font-family: 'open_sansregular';
  font-size: 13px;
	color: #363636;
  background-color: #f8f8f8;
}
.topBar{
	width: 100%;
	padding: 0 2%;
	margin: 0;
	background: #232F3E;
}
/* header CSS */
.header{
	width: 100%;
	min-height: 93px;
}
.logo{
	text-align: left;
	font-size: 36px;
	margin: 27px 0 6px;
	float: left;
	width: 100%;
}
.logo a{
  color: #F90;
}
.logo a span{
  color: #E62E04;
}
.logo img{
	width: auto;
	height: 50%;
}
.white{
	color: #fff;
}
.socialIconsHeader{
	float: right;
}
.socialIconsHeader a{
	float: left;
	width: 25px;
	margin: 8px 5px;
}
.socialIconsHeader a img{
	width: 100%;
}
.wowPerkLink{
	float: right;
  margin: 5px 0 0;
}
.sticky{
  position: fixed;
  top: 0px;
  z-index: 100;
}
.headerBox{
  float: left;
  width: 100%;
  padding: 0 0 5px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
}
.linkTop{
	padding: 0;
	margin: 0;
	float: left;
	font-size: 13px;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f8f8f8;
}
.linkTop ul{
	padding: 0;
	margin: 0;
	float: right;
}
.linkTop ul li{
	padding: 0;
	margin: 0;
	text-align: left;
	list-style: none;
	float: left;
}
.linkTop li a{
	color: #999;
  padding: 10px 10px;
  border-right: 1px solid #e9e9e9;
  line-height: 13px;
  float: left;
}
.linkTop li a:hover{
	text-decoration: none;
  color: #e62e04;
}
.linkTop li:first-child{
	margin-left: 0;
}
.sticky .linkTop{
  display: none;
}
.cart{
	background: url(../images/cartSprite.png) no-repeat 0 -45px;
	color: #000;
	font-size: 14px;
  line-height: 10px;
	margin: 0 12px 0 0;
	padding: 22px 15px 2px 32px;
  position: relative;
}
.cart span{
  min-width: 25px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #e62e04;
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 2px;
}
.cart:hover{
  color: #e62e04;
  background-position: 0 5px;
}
.catTitleStrip{
  float: left;
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  line-height: 30px;
  font-size: 14px;
}
.mainCatName{
  float: left;
  width: 100%;
  background-color: #f8f8f8;
  font-weight: bold;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  padding: 4px 10px;
}
.mainCatName a{
  font-weight: normal;
  font-size: 12px;
  color: #666;
}
.mainCatUl{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.mainCatUl li{
  float: left;
}
.mainCatUl li a{
  float: left;
  font-weight: bold;
  line-height: 38px;
  color: #333;
  margin: 0 20px 0 0;
}
.homeCarousel{
  float: left;
}
.catlistUl{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.catlistUl{
  float: left;
  width: 100%;
}
.adsHomeOne{
  float: left;
  width: 100%;
}
.adsHomeOne img{
  width: 100%;
}
.owl-controls{
  bottom: 0;
  width: 100%;
  text-align: center;
}
.owl-nav{
  float: left;
  width: 100%;
  top: 50%;
}
.owl-nav div{
  position: absolute;
  top: 50%;
  width: 30px;
  height: 50px;
  margin-top: -25px;
  background-image: url(../images/banner-slider-buttons.png);
  background-repeat: no-repeat;
  background-color: #000;
  opacity: 0.4;
  overflow: hidden;
  text-indent: 999px;
  visibility: hidden;
}
.owl-prev{
  left: 0;
  background-position: 0 0;
  border-radius: 0 3px 3px 0;
}
.owl-next{
  right: 0;
  background-position: -28px 0;
  border-radius: 3px 0 0 3px;
}
.owl-nav div:hover{
  opacity: 0.7;
}
.owl-carousel:hover .owl-nav div{
  visibility: visible;
}
.owl-dots
.owl-dot{
  width: 12px;
  height: 12px;
  background-color: #fff;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #848484;
  opacity: 0.6;
}
.owl-dots
.owl-dot.active{
  opacity: 1;
}
.homeCarousel
.owl-dots{
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.homeCarousel
.owl-dots
.owl-dot{
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: none;
  opacity: 1;
}
.homeCarousel
.owl-dots
.owl-dot.active{
  opacity: 1;
  background-color: #E62E04;
}
.owl-carousel
.owl-stage-outer{
  padding-bottom: 2px;
}
.prodCarouselMain{
  float: left;
  width: 100%;
}
.prodBox,
.prodHover{
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
}
.prodHover{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0,0,0,.13);
}
.prodCarouselMain
.item:hover
.prodHover{
  display: block;
}
.prodImgBox,
.prodImgBoxHover{
  width: 100%;
}
.prodImgBoxHover
.carousel-caption{
  display: none;
}
.owl-carousel
.owl-item
.prodImgBox img{
  height: 250px;
  width: auto;
  margin: 0 auto;
}
.owl-carousel
.owl-item
.prodImgBoxHover img{
  height: 250px;
  width: auto;
  margin: 0 auto;
}
.prodImgCarousel
.owl-controls{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 7px;
}
.prodImgCarousel
.owl-dots
.owl-dot{
  width: 8px;
  height: 8px;
  background-color: #fff;
  display: inline-block;
  margin: 0 3px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #848484;
  opacity: 0.6;
}
.prodImgCarousel
.owl-dots
.owl-dot.active{
  opacity: 1;
}
.prodImgCarousel
.carousel-indicators{
  bottom: 0;
  margin-bottom: 0;
}
.prodImgCarousel
.carousel-indicators li{
  width: 7px;
  height: 7px;
}
.prodImgCarousel
.carousel-indicators
.active{
  width: 9px;
  height: 9px;
}
.prodSeperator{
  background-color: #ddd;
  margin: 10px 0;
}
.prodColor{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
}
.prodColor li{
  float: left;
  margin: 0 5px 5px 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  list-style: none;
}
.prodColor li:hover{
  box-shadow: 0 0 4px #888;
}
.prodView{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -38%;
  height: 30px;
  width: 76%;
  padding: 3px 0;
  border: 1px solid #FF9900;
  background-color: #FF9900;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.prodView:hover{
  text-decoration: none;
  box-shadow: 0 0 3px #e47911;
  color: #000;
}
.prodFav{
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 20px;
  color: #3C3C3C;
}
.prodFav:hover{
  color: #E58120;
}
.productInfo{
  /*display: none;*/
}
.productName{
  font-size: 13px;
  font-family: verdana,arial,helvetica,sans-serif;
  color: #036;
  text-align: left;
  margin: 3px 0;
  display: block;
  line-height: 18px;
  overflow: hidden;
  height: 36px;
}
.productName a{
  color: #036;
}
.productName a:hover{
  color: #f90;
}
.productPrice{
  font-size: 14px;
  font-weight: bold;
  color: #f60;
  text-align: left;
  margin: 3px 0;
  display: block;
}
.productOldPrice{
  font-size: 13px;
  color: #c3c3c3;
  text-align: left;
  margin: 0 0 5px;
  float: left;
  text-decoration: line-through;
}
.prodOffPercent{
  background-color: #f34820;
  display: inline-block;
  color: #FFF;
  line-height: 18px;
  padding: 0 5px 0 5px;
  border-radius: 2px;
  font-size: 12px;
  margin: 0 0 0 5px;
}
.prodRating{
  margin: 0 0 10px 0;
  padding: 0;
  cursor: pointer;
  float: left;
  width: 100%;
}
.ratingStars{
  float: left;
  background-image: url(../images/ratingStars.png);
  background-repeat: repeat-x;
  background-position: 0 -100px;
  width: 71px;
  height: 16px;
}
.ratingStars span{
  float: left;
  background-image: url(../images/ratingStars.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  width: 60%;
  height: 100%;
}
.owl-carousel
.owl-item
.prodRating img{
  width: 96px;
}
.prodCompare{
  color: #444;
  display: none;
}
.prodCompare span{
  float: left;
}
.prodCompare i{
  float: left;
  margin: 5px 0 0 5px;
}
.prodAddCart{
  background-color: #e62e04;
  width: 100%;
  color: #fff;
  border-radius: 0;
}
.stdBtn{
  background-color: #e62e04;
  padding: 5px 20px;
  color: #fff;
  border-radius: 0;
}
.stdBtn:hover{
  box-shadow: 0 0 4px #ddd;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.orange{
  background-color: orange;
}
.yellow{
  background-color: yellow;
}
.rightBox{
  margin: 15px -15px 0 5px;
  border-top: 2px solid #333;
}
.slideBoxHome{
  float: left;
  width: 100%;
  background-color: #fff;
  margin: 15px 0 0;
  padding: 0 15px 15px;
  border-top: 2px solid #333;
}
.slideBoxHome h3{
  font-size: 16px;
  color: #333;
  line-height: 48px;
  margin: 0;
  font-weight: normal;
}
.slideBoxHome h3 span{
  float: right;
}
.slideBoxHome h3 span a{
  color: #999;
  font-size: 14px;
}
.slideBoxHome h3 span a:hover{
  color: #f60;
}
#backToTop{
  display: none;
}
footer{
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 10px 0;
}
.listStyle{
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.listStyle ul{
  padding: 0;
  margin: 0;
}
.listStyle ul li{
  padding: 0;
  margin: 0;
  text-align: left;
  color: #f1f2f7;
  list-style: none;
}
.listStyle li a{
  color: #333;
}
.listStyle li a:hover{
  text-decoration: underline;
}
